* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.playstation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background: url(./images/playstation.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
    position: relative;
    transition: 1s all ease-in-out;
}

.playstation::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(154 93 255 / 20%);
}

.playstation h2 {
    color: white;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 20px;
    letter-spacing: 1px;
    transition: 1s all ease-in-out;
}

.playstation button {
    position: relative;
    z-index: 2;
    width: 200px;
    padding: 20px;
    background: transparent;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.playstation button:hover {
    background-color: blue;
    border-color: blue;
}

.xbox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background: url(./images/xbox-x.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;
    position: relative;
    transition: 1s all ease-in-out;
}

.xbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.xbox h2 {
    color: white;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 20px;
    letter-spacing: 1px;
    transition: 1s all ease-in-out;
}

.xbox button {
    position: relative;
    z-index: 2;
    width: 200px;
    padding: 20px;
    background: transparent;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.xbox button:hover {
    background-color: green;
    border-color: green;
}

.playstation.large,
.xbox.large {
    width: 80%;
}

.playstation.small,
.xbox.small {
    width: 20%;
}

.playstation.small h2,
.xbox.small h2 {
    font-size: 30px;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .playstation,
    .xbox {
        width: 100%;
    }

    .playstation h2,
    .xbox h2 {
        font-size: 35px;
    }

    .playstation.large,
    .xbox.large {
        width: 100%;
        height: 80%;
    }

    .playstation.small,
    .xbox.small {
        width: 100%;
        height: 20%;
    }

    .playstation.small h2,
    .xbox.small h2 {
        font-size: 20px;
    }

}